contracts/target/CACHEDIR.TAG
contracts/target/dev/*
.env*
.vscode
node_modules
.DS_Store
*.log
bun.lockb
pnpm-lock.yaml
account.json
keystore.json
target/
contracts/bindings/*
contracts/.snfoundry_cache/
contracts/snfoundry_trace/
contracts/coverage/

# Build artifacts
dist/
*.tsbuildinfo
.turbo/