@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

iframe {
  pointer-events: auto;
}


@layer base {
  :root {
    --background: 44 61% 93%;
    --foreground: 43 19% 33%;
    --card: 41 50% 98%;
    --card-foreground: 41 5% 15%;
    --popover: 41 100% 98%;
    --popover-foreground: 41 100% 10%;
    --primary: 41 62% 83%;
    --primary-foreground: 43 19% 33%;
    --secondary: 44 61% 93%;
    --secondary-foreground: 0 0% 0%;
    --muted: 3 30% 95%;
    --muted-foreground: 41 5% 40%;
    --accent: 3 30% 90%;
    --accent-foreground: 41 5% 15%;
    --constructive: 120 100% 50%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 41 5% 98%;
    --border: 41 30% 82%;
    --input: 41 30% 50%;
    --ring: 41 62% 83%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 41 50% 10%;
    --foreground: 41 5% 98%;
    --card: 41 50% 10%;
    --card-foreground: 41 5% 98%;
    --popover: 41 50% 5%;
    --popover-foreground: 41 5% 98%;
    --primary: 41 62% 83%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 3 30% 25%;
    --muted-foreground: 41 5% 65%;
    --accent: 3 30% 25%;
    --accent-foreground: 41 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 41 5% 98%;
    --border: 41 30% 50%;
    --input: 41 30% 50%;
    --ring: 41 62% 83%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(
      1.1
    ); /* Adjust this value to control the extent of the pulse */
  }
}

.pulsing-text {
  animation: pulse 2s infinite; /* Adjust time for speed of pulse */
}

.pulse-animation {
  transform-origin: center;
  animation: pulse 2s infinite;
}

button {
  @apply uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wide;
}

h1 {
  @apply text-4xl  my-4;
}

h2 {
  @apply text-3xl  my-3;
}

h3 {
  @apply text-2xl  my-2;
}

h4 {
  @apply text-xl  my-2;
}

h5 {
  @apply text-lg my-1;
}

h6 {
  @apply text-base  my-1;
}

.marquee {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.text-stroke {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
